<div id="<%= dom_id vendor %>">
  <p>
    <strong>Folio ID:</strong>
    <%= vendor.folio_id %>
  </p>

  <p>
    <strong>Folio Code:</strong>
    <%= vendor.folio_code %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= vendor.name %>
  </p>

  <p>
    <strong>Highlight:</strong>
    <%= vendor.highlight %>
  </p>
</div>
