<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SUL - Vendor Dataloading Management</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <%= link_to "SUL - Vendor Dataloading Management", root_path, class: 'navbar-brand' %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link " href="">Status</a>
          </div>
          <div class="navbar-nav">
            <%= link_to "Vendors", vendors_url, class: 'nav-item nav-link' %>
          </div>
          <div class="navbar-nav">
            <a class="nav-item nav-link " href="">Schedule</a>
          </div>
        </div>
      </nav>

      <%= render "shared/flashes" %>

      <%= yield %>

    </div>
  </body>
</html>
